@font-face {
    font-family: larken;
    src: url('/assets/fonts/LarkenDEMO-Regular.otf');
}

html,body{
    width: 100%;
    min-height: 100vh;
}

#hamburger:hover #line2{
    transform: rotate(90deg);
    position: absolute;    
}
#hamburger:hover #hamburger-in{
    width: 4rem;    
}

/* SWIPER JS - Stylesheet */
.swiper-slide {
    text-align: start;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid lawngreen;    */
    flex-direction: column;
    
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;

    height: 22rem;
}

.txt-content h1{
    font-size: 1.4rem;
    font-weight: 300;
}
.swiper-slide p{
    color: gray !important;
    padding-bottom: 1.8rem;
}

:root{
    --clr-primary: #ac9376;
    --clr-secondary: #24262b;
    --clr-gray: #ede9e2;
}
